<section id="error-page" class="bg-purple">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
        <h1 class="text-center">Página não encontrada</h1>
        <p class="text-center">Verifique a url digitada ou volte para a página anterior</p>
        <%= link_to 'Voltar para página inicial', root_url, class:"btn btn-contorno" %>
      </div>
      </div>
    </div>
  </div>
</section>
